<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title"><%= @food_item.name %></h1>
        
        <dl class="row mt-4">
          <dt class="col-sm-3">Protein</dt>
          <dd class="col-sm-9"><%= @food_item.protein_grams %>g</dd>

          <dt class="col-sm-3">Serving Size</dt>
          <dd class="col-sm-9"><%= @food_item.serving_size %></dd>

          <dt class="col-sm-3">Dining Hall</dt>
          <dd class="col-sm-9"><%= link_to @food_item.dining_hall.name, dining_hall_path(@food_item.dining_hall) %></dd>

          <dt class="col-sm-3">Meal Time</dt>
          <dd class="col-sm-9"><%= @food_item.meal_time %></dd>
        </dl>

        <div class="mt-4">
          <%= link_to 'Edit', edit_food_item_path(@food_item), class: 'btn btn-primary' %>
          <%= link_to 'Back to Dining Hall', dining_hall_path(@food_item.dining_hall), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', food_item_path(@food_item), 
                      method: :delete,
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                      class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>